/* shared stayles */
*{
    font-family: 'Open Sans', sans-serif;
}
.text-praimary{
    color: #FD6E0A;
}
.btn-praimary{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding:18px 35px ;
}
.btn-praimary-2{
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}



/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px  ;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul >li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    color:  #474747;
    text-decoration: none;
    }

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.dev-img{
    position: absolute;
    top: 50px;
    left: 30px;
}
.banner-content>button:last-child{
    margin-left: 20px;
}

/* main section  */
main{
    background: #fff;
}


/* section about */
.about{
    display: flex;
    justify-content: center;
}
.about-container{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    max-width: 1140px;
}
.about-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info{
    text-align: center;
}
.about-info-cont{
    display: flex;
    justify-content: space-around;
}
.about-info>h4{
    color: #757575;
}
.about-info>p{
    color: #474747;
    font-weight: 700;
}

/* section what i do */
.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.i-do-container{
    padding: 0px 130px 130px 130px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin: 0px 0 0px 0;
    max-width: 1140px;
}
.i-do-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.i-do-desc{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.skills-container{
    display: flex;
    justify-content: center;
}
.skills{
    width: 267px;
    height: 260px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skills:nth-child(2){
    margin: 0 30px;
}
.skills:nth-child(3){
    margin: 0 30px 0 0;
}
.skill-tittle{
    font-weight: 700;
    font-size: 20px;
}
.skill-desc{
color: #757575;
font-size: 16px;
font-weight: 400;
}


/* SECTION RESUME */
.resume-container{
    display: flex;
    justify-content: center;
    width: 1600px;
}
.resume-title{
    margin-top: 130px;
    text-align: center;
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}
.resume-colm:last-child{
    margin-left: 50px;
}
.resume-colm>h2{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-colm>h3{
    color: #474747;
    font-size: 25px;;
    font-weight: 700;
}
.resume-colm>h4{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.resume-colm>p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.cv-btn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}