/* shared stayles */
*{
    font-family: 'Open Sans', sans-serif;
}
.text-praimary{
    color: #FD6E0A;
}
.btn-praimary{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding:18px 35px ;
}




/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul >li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    color:  #474747;
    text-decoration: none;
    }